.item-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    flex-wrap: wrap;
    padding: 10px;
    max-width: 100%;
}

.item {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 15px;
    width: 240px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 400px;
}

.item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.item h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
}

.item p {
    font-size: 1rem;
    margin: 10px 0;
    color: #666;
}

.item-nombre {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
}

.item-descripcion {
    font-size: 1rem;
    margin: 10px 0;
    color: #666;
}

.item-precio {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

.agregar-carrito-btn {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  width: 100%;
}

.agregar-carrito-btn:hover {
  background-color: #333333;
}